<section>
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between center">
            <div>
                  <mat-icon class="green-fg">done_outline</mat-icon>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Fecha alta:</span>
                  <span class="form-datos">(Fecha alta)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Fecha baja:</span>
                  <span class="form-datos">(Fecha baja)</span>
            </div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end center">
            <span class="form-etiquetas">Proveedor:</span>
            <span class="form-datos">(Proveedor)</span>
            <span class="form-etiquetas">Precio:</span>
            <span class="form-datos">($Precio)</span>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between center">
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Consecutivo:</span>
                  <span class="form-datos">(consecutivo)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">No. inventario interno:</span>
                  <span class="form-datos">(Inventario)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">COG:</span>
                  <span class="form-datos">(cog)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">No Activo SAP:</span>
                  <span class="form-datos">(SAP)</span>
            </div>
      </div>
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between center">
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Marca:</span>
                  <span class="form-datos">(marca)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Modelo:</span>
                  <span class="form-datos">(Modelo)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">No serie:</span>
                  <span class="form-datos">(serie)</span>
            </div>
      </div>
      <div fxLayout="row" fxLayoutGap="32px">
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Material:</span>
                  <span class="form-datos">(material)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Color:</span>
                  <span class="form-datos">(color)</span>
            </div>
      </div>
      <div fxLayout="row">
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Descripcion:</span>
                  <span class="form-datos">(descripcion)</span>
            </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
            <span class="form-etiquetas">Observaciones:</span>
      </div>
      <div fxLayout="row-wrap">
            <span class="form-datos">(Observaciones)</span>
      </div>
</section>
