<section>
      <div fxLayout="row wrap">
            <p>
                  NOTA 1: Los bienes descritos en el presente resguardo son propiedad del Sistema Municipal de Agua Potable, Alcantarillado y Saneamiento de Dolores Hidalgo Guanajuato (SIMAPAS),
                  el resguardante se obliga al buen uso y cuidado de los mismos, por lo que, en caso de daño derivado de negligencia, mal uso o dolo, así como extravío parcial o total de los
                  mismos, estará obligado al pago de los mismos de conformidad con el costo que determinen los funcionarios del SIMAPAS considerando el tipo del Bien. En caso de que el
                  resguardante no realice el pago, se obliga al mismo a la reposición física o monetaria del bien. Lo anterior, con fundamento en los Artículos 1, 2 fracción I a la IV, 3
                  fracciones IV y VI, 7, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25 con sus fracciones de la Ley de Responsabilidades Administrativas para el Estado de
                  Guanajuato, Artículo 43 fracción V de la Ley del Trabajo de los Servidores Públicos al Servicio del Estado y de los Municipios y las demás Leyes, Reglamentos o Disposiciones
                  aplicables a este fin. EL PRESENTE RESGUARDO SUSTITUYE A LOS EMITIDOS EN FECHAS ANTERIORES.
            </p>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row wrap">
            <p>
                  NOTA 2: El responsable de los bienes considerados en el presente resguardo Invariablemente deberá dar aviso y notificar por escrito en tiempo y forma al área de Control
                  Patrimonial cuando se presenten los supuestos de: Daño, Desperfecto o cualquier modificación que realice a los bienes que están bajo su responsabilidad y custodia.
            </p>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row wrap">
            <p>
                  NOTA 3: El responsable de los bienes considerados en el presente resguardo Invariablemente deberá dar aviso y notificar por escrito en tiempo y forma al área de Control
                  Patrimonial cuando se presenten los supuestos de: Goce de Vacaciones, Incapacidades y Permisos, con el fin de asignar los bienes a quien realizará la suplencia.
            </p>
      </div>
</section>
