<form [formGroup]="formBomba">
    <section>
        <div fxLayout="row" fxFill>
            <mat-form-field [appearance]="_apariencia">
                <mat-label>No. serie</mat-label>
                <input matInput type="text" formControlName="serie" [readonly]="_soloLectura">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="8px">
            <mat-form-field [appearance]="_apariencia" fxFlex="50">
                <mat-label>Marca</mat-label>
                <input matInput type="text" formControlName="marca" [readonly]="_soloLectura">
            </mat-form-field>
            <mat-form-field [appearance]="_apariencia" fxFlex="50">
                <mat-label>Modelo</mat-label>
                <input matInput type="text" formControlName="modelo" [readonly]="_soloLectura">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="8px">
            <mat-form-field [appearance]="_apariencia" fxFill>
                <mat-label>tipo</mat-label>
                <input matInput type="text" formControlName="tipo" [readonly]="_soloLectura">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="8px">
            <mat-form-field [appearance]="_apariencia" fxFlex>
                <mat-label>Eficiencia</mat-label>
                <input matInput type="text" formControlName="eficiencia" [readonly]="_soloLectura">
                <span matSuffix> %</span>
            </mat-form-field>
            <mat-form-field [appearance]="_apariencia" fxFlex>
                <mat-label>Litros/s</mat-label>
                <input matInput type="text" formControlName="lts" [readonly]="_soloLectura">
                <span matSuffix> Lts</span>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="8px">
            <mat-form-field [appearance]="_apariencia" fxFlex>
                <mat-label>RPM</mat-label>
                <input matInput type="text" formControlName="rpm" [readonly]="_soloLectura">
            </mat-form-field>
            <mat-form-field [appearance]="_apariencia" fxFlex>
                <mat-label>No. impulsores</mat-label>
                <input matInput type="text" formControlName="noImpulsores" [readonly]="_soloLectura">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [appearance]="_apariencia" fxFlex>
                <mat-label>Diametro</mat-label>
                <input matInput type="text" formControlName="diametro" [readonly]="_soloLectura">
                <span matSuffix> plg</span>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="8px">
            <mat-form-field [appearance]="_apariencia" fxFill>
                <mat-label>Descripcion</mat-label>
                <input matInput type="text" formControlName="descripcion" [readonly]="_soloLectura">
            </mat-form-field>
            <mat-form-field [appearance]="_apariencia" fxFill>
                <mat-label>Observaciones</mat-label>
                <input matInput type="text" formControlName="observaciones" [readonly]="_soloLectura">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="8px">
            <mat-form-field [appearance]="_apariencia" fxFill>
                <mat-label>Fecha de instalacion</mat-label>
                <input [matDatepicker]="fechaInstalacionBomba" formControlName="fechaInstalacion" matInput
                       name="fechaInstalacionBomba" [readonly]="_soloLectura">
                <mat-datepicker-toggle [for]="fechaInstalacionBomba" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #fechaInstalacionBomba></mat-datepicker>
            </mat-form-field>
        </div>
    </section>
</form>
<app-reg-modales *ngIf="!_ocultarAcciones" (registro)="regBomba()" (cancelar)="cerrarModal()" [deshabilitar]="formBomba.invalid || estaCargando"
                 [cargandoDatos]="estaCargando">
</app-reg-modales>