<section [@animate]="{value: '*', params: {y: '100%'}}">
    <div>
        <div fxFlex>
            <span fxFlex="40" class="form-etiquetas">Estado:</span>
            <span fxFlex class="form-datos">Informacion estado</span>
        </div>
        <div fxFlex>
            <span fxFlex="40" class="form-etiquetas">Ciudad:</span>
            <span fxFlex class="form-datos">Informacion de la cd</span>
        </div>
    </div>
    <div>
        <div fxFlex>
            <span fxFlex="40" class="form-etiquetas">Municipio:</span>
            <span fxFlex class="form-datos">Informacion municipio</span>
        </div>
        <div fxFlex>
            <span fxFlex="40" class="form-etiquetas">codigo postal:</span>
            <span fxFlex class="form-datos">codigo pos</span>
        </div>
    </div>
</section>
