<form class="baseDiv" [formGroup]="formContrato">
    <div fxLayoutAlign="space-between" fxLayoutGap="8px">
        <mat-form-field>
            <mat-label>Ciudad</mat-label>
            <input matInput formControlName="ciudad">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Municipio</mat-label>
            <input matInput formControlName="municipio">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <input matInput formControlName="estado">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Codigo postal</mat-label>
            <input matInput formControlName="codigoPostal">
        </mat-form-field>
    </div>

    <div fxLayoutAlign="space-between" fxLayoutGap="8px">
        <mat-form-field>
            <mat-label>Numero de medidor</mat-label>
            <input matInput formControlName="noMedidor">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numero de cuenta</mat-label>
            <input matInput formControlName="noCuenta">
        </mat-form-field>
    </div>

    <div fxLayoutAlign="space-between" fxLayoutGap="8px">
        <mat-form-field>
            <mat-label>Sector</mat-label>
            <input type="number" matInput formControlName="sector">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ruta</mat-label>
            <input type="number" matInput formControlName="ruta">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Zona</mat-label>
            <input matInput formControlName="zona">
        </mat-form-field>
    </div>

    <div fxLayoutAlign="space-between" fxLayoutGap="8px">
        <mat-form-field>
            <mat-label>Longitud</mat-label>
            <input type="number" matInput formControlName="longitud">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Latitud</mat-label>
            <input type="number" matInput formControlName="latitud">
        </mat-form-field>
    </div>
</form>

<app-reg-modales (registro)="regContrato()" (cancelar)="cerrarModal()" [cargandoDatos]="estaCargando" [deshabilitar]="formContrato.invalid || estaCargando">
</app-reg-modales>