<app-card-bootstrap>
    <ng-container cabecera><h2>Informacion de usuarios</h2></ng-container>
    <ng-container contenido>
        <app-buscar-cliente-autocomplete tipoConsulta="normal">
            <ng-container contenidoBusqueda>
                <app-consulta-contratos></app-consulta-contratos>
            </ng-container>
        </app-buscar-cliente-autocomplete>
    </ng-container>
</app-card-bootstrap>
<mat-divider></mat-divider>
<app-card-bootstrap>
    <ng-container cabecera><h2>Informacion de solicitudes creadas</h2></ng-container>
    <ng-container contenido>
        <app-prime-tabla [columnas]="columnasSolicitud"
                         [skeleton]="_solicitudPrev.cargando"
                         [valConsulta]="_solicitudPrev.state$ | async">
        </app-prime-tabla>
        <mat-divider></mat-divider>
    </ng-container>
</app-card-bootstrap>
<mat-divider></mat-divider>

<app-detalles-solicitud-serv></app-detalles-solicitud-serv>
