<section *ngIf='_instQuery.camInstalacion$ | async as motorBomba'>
    <mat-toolbar fxLayoutGap='8px'>
        <button fxFlex='1 0 auto' mat-flat-button (click)='agMotor(motorBomba._id)' color='primary'>
            <mat-icon>add</mat-icon>
            Nuevo motor - ({{motorBomba.nombre}})
        </button>
        <button fxFlex='1 0 auto' mat-flat-button (click)='agBomba(motorBomba._id)' color='primary'>
            <mat-icon>add</mat-icon>
            Nueva bomba - ({{motorBomba.nombre}})
        </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-tab-group>
        <mat-tab label="Motores">
            <app-info-motor [instalacion]="motorBomba"></app-info-motor>
        </mat-tab>
        <mat-tab label="Bombas">
            <app-info-bomba [instalacion]="motorBomba"></app-info-bomba>
        </mat-tab>
    </mat-tab-group>
</section>
