<div class="baseDiv">
    <form [formGroup]="formActSolitudServ">
        <div fxLayoutAlign="center center">
            Observaciones
        </div>
        <mat-form-field appearance="outline">
            <textarea matInput formControlName="observaciones"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Solicitud ejecutada por</mat-label>
            <input matInput formControlName="ejecutadaPor">
        </mat-form-field>

        <mat-radio-group formControlName="aprobadoServ" fxLayoutGap="16px">
            <mat-radio-button value="true">La solicitud es viable</mat-radio-button>
            <mat-radio-button value="false">La solicitud no se viable</mat-radio-button>
        </mat-radio-group>
    </form>
</div>

<app-reg-modales (registro)="actSolicitud()" (cancelar)="cerrarModal()" [deshabilitar]="formActSolitudServ.invalid || estaCargando" [cargandoDatos]="estaCargando">
</app-reg-modales>