@mixin error-401-theme($theme) {

  $foreground: map-get($theme, foreground);

  app-error401 {

    #app-error401 {

      .content {

        .message {
          color: map-get($foreground, secondary-text);
        }

        .sub-message {
          color: map-get($foreground, secondary-text);
        }
      }
    }
  }
}
