<input #fileInput accept="application/pdf" [multiple]="false" [uploader]="cargaDeArchivo" hidden id="fileUpload" name="fileUpload"
       (click)="cargaDeArchivo.clearQueue()" ng2FileSelect type="file">
<form [formGroup]="formRecibosCfe">
    <section class="baseDiv">
        <div fxLayout="row">
            <mat-form-field fxFill>
                <input [matDatepicker]="fechaRegistro" formControlName="fechaReg" matInput
                       name="fechaReg" placeholder="Fecha de registro">
                <mat-datepicker-toggle [for]="fechaRegistro" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #fechaRegistro></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFill>
                <mat-label>Lectura</mat-label>
                <input matInput formControlName="lectura">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="32px">
            <mat-form-field fxFlex>
                <mat-label>Costo KW</mat-label>
                <input matInput formControlName="costoKw">
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Pago</mat-label>
                <input matInput formControlName="pago">
            </mat-form-field>
        </div>
        <div fxLayout="row" class="mb-8">
            <button fxFill (click)="fileInput.click()" type="button" class="amber-fg" mat-stroked-button>
                <mat-icon>publish</mat-icon>
                {{fileInput.value}}
            </button>
        </div>
    </section>
    <app-reg-modales (registro)="regReciboCfe()" (cancelar)="cerrarModal()" [deshabilitar]="this.formRecibosCfe.invalid || estaCargando" [cargandoDatos]="estaCargando">
    </app-reg-modales>
</form>