<app-impresion>
      <ng-container cuerpo>
            <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center" class="baseDiv my-8">
                  <mat-icon>info</mat-icon>
                  <div class="h2">Información General</div>
            </div>
            <app-activos-gral-ctrl-patrimonial></app-activos-gral-ctrl-patrimonial>
            <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center" class="baseDiv my-8">
                  <mat-icon>drive_eta</mat-icon>
                  <div class="h2">Información de vehiculos</div>
            </div>
            <app-p-ctrl-patrimonial-vehiculos></app-p-ctrl-patrimonial-vehiculos>
            <app-codiciones></app-codiciones>
            <app-firmas></app-firmas>
      </ng-container>
</app-impresion>
