<form [formGroup]="formMedidor">
    <div class="baseDiv">
        <div fxLayout="row" fxLayoutGap="32px">
            <mat-form-field fxFlex>
                <input [matDatepicker]="fechaReg" formControlName="fechaInstalacion" matInput
                       name="FechaInst" placeholder="Fecha de registro">
                <mat-datepicker-toggle [for]="fechaReg" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #fechaReg></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex>
                <input [matDatepicker]="fechaRetiro" formControlName="fechaRetiro" matInput
                       name="FechaRet" placeholder="Fecha de retiro">
                <mat-datepicker-toggle [for]="fechaRetiro" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #fechaRetiro></mat-datepicker>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFill>
                <mat-label>Medidor</mat-label>
                <input matInput formControlName="medidor">
            </mat-form-field>
        </div>
    </div>
</form>
<app-reg-modales (registro)="regMedidor()" (cancelar)="cerrarModal()" [deshabilitar]="this.formMedidor.invalid || estaCargando" [cargandoDatos]="estaCargando">
</app-reg-modales>
