<section>
    <div>
        <div fxFlex>
            <span fxFlex="40" class="form-etiquetas">Medidor de referencia:</span>
            <span fxFlex class="form-datos">Medidor de referencia</span>
        </div>
        <div fxFlex>
            <span fxFlex="40" class="form-etiquetas">No. de cuenta:</span>
            <span fxFlex class="form-datos">Numero de cuenta</span>
        </div>
    </div>
    <div fxFill>
        <span fxFlex="20" class="form-etiquetas">Referencia:</span>
        <span fxFlex class="form-datos">Referencia del domicilio</span>
    </div>
</section>
