<section *ngIf="_clienteState.state$ | async as datosReferencia">
    <div>
        <div fxFlex>
            <span fxFlex="40" class="form-etiquetas">Medidor de referencia:</span>
            <span fxFlex class="form-datos">{{datosReferencia?.noMedidor}}</span>
        </div>
        <div fxFlex>
            <span fxFlex="40" class="form-etiquetas">No. de cuenta:</span>
            <span fxFlex class="form-datos">{{datosReferencia?.noCuenta}}</span>
        </div>
    </div>
    <div fxFill>
        <span fxFlex="20" class="form-etiquetas">Referencia:</span>
        <span fxFlex class="form-datos">{{datosReferencia?.referencia}}</span>
    </div>
</section>
