<form [formGroup]="formFecha">
    <div class="baseDiv">
        <div fxLayout="row">
            <mat-form-field fxFill>
                <mat-label>Selecciona una fecha</mat-label>
                <input [matDatepicker]="fechaC" formControlName="fecha" matInput
                       name="fecha">
                <mat-datepicker-toggle [for]="fechaC" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #fechaC></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Motivo de retiro del equipo</mat-label>
                <textarea matInput style="height: 150px" formControlName="motivoRetiro"></textarea>
            </mat-form-field>
        </div>
    </div>
</form>
<app-reg-modales (registro)="baja()" (cancelar)="cerrarModal()" [deshabilitar]="formFecha.invalid || estaCargando" [cargandoDatos]="estaCargando"></app-reg-modales>