<form [formGroup]="formUsuarios">
    <div class="baseDiv">
        <div fxLayout="column">
            <mat-form-field>
                <mat-label>Selecciona un departamento para asignarlo al usuario que vas a registrar</mat-label>
                <mat-select formControlName="departamento" required>
                    <mat-option *ngFor="let departamento of (_deptos.state$ | async)" [value]="departamento._id">
                        {{departamento.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nombre del usuario</mat-label>
                <input formControlName="nombre" matInput name="nombre">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <input formControlName="usuario" matInput name="usuario">
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <div fxLayoutGap="8px">
            <mat-form-field fxFlex>
                <mat-label>contraseña</mat-label>
                <input formControlName="contrasena" matInput name="contrasena" type="password">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>confima la contraseña</mat-label>
                <input formControlName="confContrasena" matInput name="confContrasena" type="password">
                <mat-error *ngIf="mensajeError('confContrasena', 'required')"></mat-error>
            </mat-form-field>
        </div>
    </div>
</form>

<app-reg-modales (registro)="registrarUsuario()" (cancelar)="cerrarModal()" [cargandoDatos]="guardando" [deshabilitar]="formUsuarios.invalid || guardando">
</app-reg-modales>
