<ng-container *ngIf="_notState.state$ | async as notificaciones">
    <div fxLayout="row" *ngFor=" let notificacion of notificaciones">
        <blockquote fxFlex class="mat-elevation-z8 mx-1  baseDiv">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2px">
                    <p-avatar [image]="('per-' + notificacion.emisor) | archivoUrl: 'per'" size="large" shape="circle">
                    </p-avatar>
                    <div>{{notificacion.emisor}}</div>
                </div>
                <button mat-icon-button color="warn" class="mr-5" (click)="eliminarNot(notificacion)">
                    <mat-icon>closed</mat-icon>
                </button>
            </div>
            <mat-divider class="my-2"></mat-divider>
            <div class="mb-4">
                {{notificacion.descripcion}}
            </div>
        </blockquote>
    </div>
</ng-container>
