<div [@animate]="{value: '*', params: {y: '100%'}}" *ngIf="_solicitudPrev.state$ | async as solicitud">
    <app-card-bootstrap>
        <ng-container cabecera><h2>Informacion de solicitudes creadas</h2></ng-container>
        <ng-container contenido>
            <app-prime-tabla [columnas]="columnasSolicitud"
                             [skeleton]="_solicitudPrev.cargando"
                             [accionesVisibles]="true"
                             [btnAcciones]="acciones"
                             [ancho]="{width: '80px'}"
                             [valConsulta]="solicitud"
                             (emitirAccion)="clienteSelec($event)">
            </app-prime-tabla>
            <mat-divider class="m-5"></mat-divider>
            <app-detalles-solicitud-serv [infoReferencia]="infoReferencia"
                                         [accionesVisibles]="true" [datosSolicitud]="this._solicitudPrev.gSolicituServ | async">
                <app-detalle-referencia [infoReferencia]="infoReferencia"></app-detalle-referencia>
            </app-detalles-solicitud-serv>
        </ng-container>
    </app-card-bootstrap>
</div>
