<ng-container>
    <section [@animate]="{value: '*', params: {y: '100%'}}">
        <div fxFill>
            <span fxFlex="40" class="form-etiquetas">Nombre:</span>
            <span fxFlex="60" class="form-datos">Nombre completo del cliente</span>
        </div>
        <div>
            <div fxFlex>
                <span fxFlex="60" class="form-etiquetas">Calle:</span>
                <span fxFlex class="form-datos">Informacion de la calle</span>
            </div>
            <div fxFlex>
                <span fxFlex="40" class="form-etiquetas">Colonia:</span>
                <span fxFlex class="form-datos">Informacion de la colonia</span>
            </div>
        </div>
    </section>
</ng-container>

<ng-container *cdkPortal>
    <div fxLayoutGap="8px">
        <button mat-raised-button fxFlex="1 0 auto" class="brown">
            <mat-icon>print</mat-icon>
            Realizar cobro
        </button>
        <button mat-raised-button fxFlex="1 0 auto" class="brown">
            <mat-icon>print</mat-icon>
            Actualizar servicio
        </button>
        <button mat-raised-button fxFlex="1 0 auto" class="brown">
            <mat-icon>print</mat-icon>
            Imprimir
        </button>
        <button mat-raised-button fxFlex="1 0 auto" class="brown">
            <mat-icon>print</mat-icon>
            Generar contrato
        </button>
    </div>
</ng-container>