<section>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-16">
            <div fxLayout="column">
                  <div fxLayoutAlign="center center">Autoriza</div>
                  <img src="assets/images/firma/firma.png" alt="" class="img-firma">
                  <div fxLayoutAlign="center center">C.P. Felipe de Jesus Rayas Garcia</div>
                  <div fxLayoutAlign="center center">Presidente del consejo directivo</div>
            </div>
            <div fxLayout="column">
                  <div fxLayoutAlign="center center">Visto bueno</div>
                  <img src="assets/images/firma/firma.png" alt="" class="img-firma">
                  <div fxLayoutAlign="center center">Ing. Jorge Ramirez Arteaga</div>
                  <div fxLayoutAlign="center center">Subdireccion de Area Tecnica</div>
            </div>
            <div fxLayout="column">
                  <div fxLayoutAlign="center center">Resguardante</div>
                  <img src="assets/images/firma/firma.png" alt="" class="img-firma">
                  <div fxLayoutAlign="center center">Ing. Rodrigo Tadeo Diaz Torres</div>
                  <div fxLayoutAlign="center center">Digitalizador</div>
            </div>
      </div>
</section>
<section>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-16">
            <div fxLayout="column">
                  <div fxLayoutAlign="center center">Elabora</div>
                  <img src="assets/images/firma/firma.png" alt="" class="img-firma">
                  <div fxLayoutAlign="center center">C.P. Rosa Guadalupe Araiza López</div>
                  <div fxLayoutAlign="center center">Auxiliar contable</div>
            </div>
            <div fxLayout="column">
                  <div fxLayoutAlign="center center">Revisa</div>
                  <img src="assets/images/firma/firma.png" class="img-firma" alt="">
                  <div fxLayoutAlign="center center">T.S.U.A Margarita Rangel Mellado</div>
                  <div fxLayoutAlign="center center">Subdireccion de administracion y finanzas</div>
            </div>
      </div>
</section>
