<!--<button-->
<!--    [swal]="{ title: 'Save file as...', input: 'text', showDenyButton: true, denyButtonText: 'Don\'t save', showCancelButton: true }">-->
<!--    Save-->
<!--</button>-->

<!--<button [swal]="elimiinar">-->
<!--    Delete-->
<!--</button>-->

<!--<swal #elimiinar title="Delete ?" [icon]="'success'"></swal>-->

<!--<swal-->
<!--    #deleteSwal-->
<!--    title="Delete?"-->
<!--    text="This cannot be undone"-->
<!--    icon="warning"-->
<!--    [showCancelButton]="true"-->
<!--    [focusCancel]="true">-->
<!--</swal>-->


<!--<button [swal]="deleteSwal">Delete</button>-->


<!--<swal title="SweetAlert2 Timer">-->
<!--    <div *swalPortal class="alert alert-info">-->
<!--        <strong>Segundos</strong> seconds elapsed since the modal was opened.-->
<!--    </div>-->
<!--</swal>-->

<!--<button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">-->
<!--    Do it!-->
<!--</button>-->