<section>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="32px">
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">No. Activo</span>
                  <span class="form-datos">(-------------)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">No. economico:</span>
                  <span class="form-datos">(--------------)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Tipo:</span>
                  <span class="form-datos">(--------------)</span>
            </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="32px">
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Transmision</span>
                  <span class="form-datos">(-------------)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Cilindros:</span>
                  <span class="form-datos">(--------------)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Placas:</span>
                  <span class="form-datos">(--------------)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Tarjeta:</span>
                  <span class="form-datos">(--------------)</span>
            </div>
            <div fxLayoutGap="12px">
                  <span class="form-etiquetas">Inciso:</span>
                  <span class="form-datos">(--------------)</span>
            </div>
      </div>
</section>
<section>
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center" class="baseDiv my-8">
            <mat-icon>info</mat-icon>
            <div class="h2">Ultima revision ejecutada</div>
      </div>
      <div fxLayout="row">
            <div fxFlex fxLayout="column">
                  <div>
                        <span fxFlex class="form-etiquetas">Antena:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Manija en puertas:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Defensa o facia delantera:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Defensa o facia trasera:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Espejo lateral derecho:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Espejo lateral izquierdo:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Faros delanteros:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Calaveras Traseras:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Limpiadores delanteros:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Parabrisas:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Rines (tipo):</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Llantas (medida y marca):</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Tapón de gasolina:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Cristales en puertas y laterales:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Medallón:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Molduras:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Polveras:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Direccionales:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Stop:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Luces altas:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Luces bajas:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex fxLayout="column">
                  <div>
                        <span fxFlex class="form-etiquetas">Aire acondicionado:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Cinturones de seguridad:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Cenicero:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Encendedor:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Retrovisor:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Radio reproductor (tipo):</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Cabeceras en respaldo:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Tapetes:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Tapicería:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Visera derecha:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Visera izquierda:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Manijas en puertas:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex fxLayout="column">
                  <div>
                        <span fxFlex class="form-etiquetas">Cables pasa corriente:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Triángulo de seguridad:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Destornillador (tipo):</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Extintor:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Gato (tipo):</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Pinzas mecánicas:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Llanta de refacción:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Manual de usuario:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
                  <div>
                        <span fxFlex class="form-etiquetas">Llave de birlos:</span>
                        <span fxFlex="10" class="form-datos">(--)</span>
                  </div>
            </div>
      </div>
</section>
<section>
      <div fxLayout="row" fxLayoutAlign="end center" class="baseDiv my-8 mat-title">
            Kilometraje: (----------)
      </div>
</section>
