<div class="sidebar-content">
    <div class="card">
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/avatars/default.png" class="avatar mr-16" alt=""/>
            <span class="h5">Pepe Fuentes</span>
        </div>
        <div class="content py-16" fusePerfectScrollbar>
            <div class="nav material2" fxLayout="column">
                <div class="nav-item" aria-label="Contratos">
                    <a class="nav-link" matRipple>
                        <mat-icon class="mr-8 amber-fg">info</mat-icon>
                        <span class="title">Informacion general</span>
                    </a>
                </div>
                <div class="nav-item" aria-label="Contratos">
                    <a class="nav-link" matRipple>
                        <mat-icon class="mr-8 amber-fg">assignment</mat-icon>
                        <span class="title">Contratos</span>
                    </a>
                </div>
                <div class="nav-item" aria-label="Consumos">
                    <a class="nav-link" matRipple>
                        <mat-icon class="mr-8 amber-fg">bar_chart</mat-icon>
                        <div class="title">Consumos</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="Ordenes de atencion">
                    <a class="nav-link" matRipple>
                        <mat-icon class="mr-8 amber-fg">assignment_turned_in</mat-icon>
                        <div class="title">Ordenes de atencion</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="Ordenes de atencion">
                    <a class="nav-link" matRipple>
                        <mat-icon class="mr-8 amber-fg">supervised_user_circle</mat-icon>
                        <div class="title">Convenios</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="Ordenes de atencion">
                    <a class="nav-link" matRipple>
                        <mat-icon class="mr-8 amber-fg">local_atm</mat-icon>
                        <div class="title">Adeudos</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
